/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
    font-family: 'Proximanova';
    src: url(../fonts/proximanova-regular.ttf);
}

@import "compass/reset";

a, a:hover, a:link, a:visited, a:active {
	text-decoration:none;
	color:inherit;
}

$orange: #d98d1b;
$light: #f3efe4;
$green: #757f3c;
$beige: #e4ded1;

body {
	font-family:'Proximanova';
}

.container {
	max-width:1030px;
	margin:0 auto;
}

/* header */

.header {
	width:100%;
	height:89px;
	border-bottom:1px solid $beige;
	position:relative;

	&__free_shipping {
		color:#c4b07a;
		font-size:11px;
		font-weight:bold;
		margin:15px 0 20px 140px;

		& span {
			width:19px;
			height:11px;
			display:inline-block;
			vertical-align:middle;
			background: url(../images/shipping.png) no-repeat;
			margin-right:10px;
		}
	}


	& .right_block {
		padding:0;
	}

	&__nav_top {
		margin-left:120px;

		& li {
			float:left;
			border-right:1px solid $green;
			padding:0 20px;

			& a {
				color:#3b401e;
				font-size:16px;
				font-weight:bold;
			}

			&:nth-child(4) {
				border:none;

				& a span {
					color:$orange;
				}
			}
		}
	}

	&__nav_right {
		float:right;
		font-size:12px;
		margin:15px 0 10px 0;

		& li {
			display:inline-block;
			border-right:1px solid #717171;

			&:nth-child(4) {
				border:none;
			}

			& a {
				color:#717171;
				padding:0 7px;
				font-weight:bold;
			}
		}
	}
}

.header > .logo {
	display:none;
}

.logo {
	top:9px;
	left:0;
	position:absolute;
	z-index:1000;
}

.fa-bars {
	float:right;
	font-size:20px;
	color:#000;
	margin:35px 35px 0 0 !important;
	display:none;
	cursor:pointer;
}

/* header ends */

/* content */

.content {
	width:100%;
	background-color:$light;
	padding:30px 0;
}

.beige {
	border: 1px solid $beige;
	border-radius:5px;
	height:100%;
	background-color:#fff;
	padding:35px;
}

.sidebar {
	& ul li {
		margin-bottom:5px;
	
		& a {
			color:#4a4f2a;
			font-weight:bold;

			&:hover {
				color:#94a14c;
				text-decoration:underline;
			}
		}
	}

	&__title {
		font-weight:bold;
		text-transform:uppercase;
		color:#a3a78b;
		margin:25px 0;

		&__categories {
			margin:35px 0 40px 0;
		}

		&__posts {
			margin:35px 0 30px 0;
		}
	}
}

.fa-rss {
	color:$orange;
}

.front_block {
	width:100%;
	height:auto;
	line-height:22px;

	&__main {
		background: url(../images/front_img.jpg) no-repeat;
		background-size:100%;
		width:100%;
		height:auto;
		color:$light;
		padding:20% 25% 0 55px;

		& h1 {
			padding:0 0 40px 0;
			font-size:48px;
		}

		& button {
			padding:10px 23px;
			text-transform: uppercase;
			margin:20px 0 50px 0;
			font-weight:bold;
		}
	}
}

.post {
	position:relative;
	width:100%;
	min-height:182px;
	border-bottom:1px solid #dadada;
	margin-bottom:30px;

	&__img {
		float:left;
		margin-right:40px;
	}

	&__title {
		color:$orange;
		font-size:24px;
	}

	&__comments {
		background-color:$orange;
		color:#fff;
		display:block;
		position:absolute;
		top:0;
		right:0;
		height:15px;
		width:21px;
		line-height:15px;
		text-align:center;
		font-size:11px;
		border-radius:2px;

		&:after {
			content:'';
			position:absolute;
			top:15px;
			right:9px;
			display:block;
			border: 3px solid transparent;
			border-left: 3px solid $orange;
			border-top: 3px solid $orange;
		}
	}

	&__data {
		width:100%;
		height:38px;
		display:block;

		& li {
			float:left;
			margin-right:12px;
			padding:8px 0;

			& a {
				color:#828282;
				font-style:italic;	
			}	
		}
	}

	&__description a {
		color:#d98d1b;
		font-size:14px;
		font-weight:bold;
	}
}

.posts div:nth-child(4) {
	border:none;
}

/* content ends */


/* footer */

.footer {
	width:100%;
	background-color: $green;
	padding:30px 0 50px 0;

	&__nav_second {
		height:200px;
		width:100%;

		& li {
			width:48%;
			margin-right:2%;
			float:left;
		}
	}

	& li {
		margin-bottom:5px;	

		& a {
			color:#fff;
		}
	}

	& h5 {
		color:#3b401e;
		text-transform:uppercase;
		font-weight:bold;
		padding-bottom:10px;
		width:100%;
		border-bottom:1px solid #51582a;
		box-shadow: 0 1px 0 0 #889446;
		margin-bottom:20px;
	}

	& .social_menu {
		margin-bottom:20px;
	}
}

.fa {
	width:14px;
	margin-right:12px;
}
/* footer ends */


/* input styles */

.input {
	background-color:$light;
	border:1px solid #e2d9bf;
	border-radius:5px;
	height:34px;
	width:100%;
	outline:none;
	padding:0 10px;
	font-size:12px;
}

.email {
	font-size:14px;
}

.header__input {
    width: 80%;
    float:right;
}

.submit {
	position:absolute;
	top:10px;
	right:15px;
	background: url(../images/search.png) transparent no-repeat;
	outline:none;
	border:none;
	width:17px;
	height:16px;
}

input[placeholder], [placeholder], *[placeholder] {
	color:$green !important;
	font-style:italic;
}

.search, .subscribe {
	width:100%;
	height:36px;
	position:relative;
	float:right;
}

.envelope {
	position:absolute;
	top:10px;
	right:15px;
	background: url(../images/envelope.png) transparent no-repeat;
	outline:none;
	border:none;
	width:23px;
	height:15px;
}

@media (max-width:1199px) {
	.sidebar {
		padding:0;

		&__title {
			margin:25px 0;
		}
	}
}

@media (max-width:991px) {
	.post__description {
		font-size:14px;
		margin-bottom:20px;
	}

	.front_block {

		&__main {
			padding:5% 5% 3.3%;

			& h1 {
				padding:20px 0;
			}

			& button {
				margin:50px 0 0 0;
			}
		}
	}

	.header {
		&__nav_top li {
			padding:0 7px;
		}

		&__nav_right {
			font-size:10px;

			& li a {
				padding:0 2px;
			}
		}
	}

	.email {
		font-size:13px;
	}
}

@media (max-width:767px) {
	.footer {
		padding:0;

		& h5 {
			margin:20px 0;
		}

		&__nav_second {
			height:auto;
			width:100%;

			& li {
				width:100%;
				float:left;
			}
		}

		& .container, .beige  {
			padding:35px;
		}
	}

	.front_block {
		width:100%;
		height:auto;
		line-height:22px;

		&__main {
			background:none;
			color:#4a4f2a;
			padding:0;

			& h1 {
				font-size:24px;
			}
		}
	}

	.post {

		&__title {
			font-size:17px;
		}

		&__comments {
			top:165px;
		}

		&__img {
			float:none;
			margin:20px 0;
		}

		&__data {
			font-size:14px;
		}
	}

	.fa {
		margin-right:5px;
	}

	.search {
		width:50%;
		float:left;
		font-size:12px
	}

	.subscribe {
		width:100%;
		float:left;
		font-size:12px;
	}

	.header {

		& > .logo {
			display:block;
		}

		&__nav_top {
			margin:40px 0 0 0;

			& li {
				padding:0;
			}
		}

		&__nav_right {
			padding:0 15px;

		}

		&__input {
    		width: 100%;
    		float:left;
		}

		& .search {
			padding:0 0 0 15px;
			width:95%;
		}

		& .container {
			display:none;
			width:100%;
			height:360px;
			background-color:#fff;
			border-bottom:1px solid $beige;
			position:absolute;
			top:88px;
			padding:0 35px;
			z-index:30;

			& .logo {
				display:none;
			}

			& .header__free_shipping, & .header__nav_top, & .header__nav_right, & .header__nav_top li, & .header__nav_right li {
				display:block;
				width:100%;
				border:none;
			}
		}

		&__free_shipping {
			margin:auto;
			text-align:center;
			position:relative;
			top:20px;
		}

		&__nav_right li, &__nav_top li  {
			font-size:16px;
			border:none;
			padding:3px 0;
			
			& a, & a {
				padding:3px 0;
				width:100%;
				height:100%;
				display:block;
				
				&:hover {
					color:$orange;
					background-color:$light;
				}
			}
		}
	}

	.fa-bars {
		display:block;
	}
}

@media (min-width:768px) {
	.header .container {
		display:block !important;
	}
}

@media (max-width:420px) {
	.sidebar .col-xs-6 {
		width:100%;
	}

	.search, .subscribe {
		width:100%;
	}
}

@media (max-width:284px) {

	.post {
		&__title {
			font-size:14px;
		}

		&__data {
			font-size:9px;

			& .fa {
				margin:0;
			}
		}

		&__description {
			font-size:12px;
		}
	}

	.front_block__main {
		font-size:12px;

		& h1 {
			font-size:20px;
		}

		& button {
			font-size:12px;
		}
	}
}



